.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.row {
  width: 100%;
  margin-bottom: 30px;
}


.commandForm {
  font-size: 12px;
}

.commandForm label input {
  margin-right: 5px;
  margin-left: 3px;
}


.roomNumber {
  text-align: left;
}



#market {
  padding-top: 10px;
}


#CheatSheet {
  margin-bottom: 30px;
}

#rulesCheatSheetText {
  color: black;
  font-size: 14px;
  text-align: left;
  padding: 0.75rem;
}

#rulesCheatSheetText span {
  color: red;
}

#rulesCheatSheetText .card-header, #rulesCheatSheetText .list-group-item {
  padding: .5rem 1rem;
}

#tradeLog {
  margin-bottom: 30px;
  font-size: 16px;
}

#tradeLog .list-group-item {
  background-color: transparent;
}

#tradeLog .list-group-item-primary {
  color: #b8daff;  /* make light for dark background */
}

.FullGame {
  margin: 200px;
  text-align: center;
}