.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#players {
  padding: 25px;
  margin-top: 50px;
  border: lightblue dotted 2px;
}

.player_id {
  color: red;
}


#market {
  padding-top: 10px;
}

#tradeLog {
  margin-bottom: 50px;
}

.FullGame {
  margin: 200px;
  text-align: center;
}