.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Lobby-header {
  background-color: #282c34;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.Signup-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  width: 100%;
  margin-bottom: 30px;
}

.gameRow {
  padding: 30px;
}

.tradeCommandForm {
  font-size: 18px;
  width: 60%;
}

.tradeCommandForm input {
  flex: auto;
}

#market {
  padding-top: 10px;
}

#CheatSheet {
  margin-bottom: 30px;
}

#rulesCheatSheetText {
  color: black;
  font-size: 14px;
  text-align: left;
  padding: 0.75rem;
}

#rulesCheatSheetText span {
  color: red;
}

#rulesCheatSheetText .nav {
  margin: 5px;
}

#rulesCheatSheetText .card-header,
#rulesCheatSheetText .list-group-item {
  padding: 0.5rem 1rem;
}

#tradeLog {
  margin-bottom: 30px;
  font-size: 16px;
}

#tradeLog .list-group-item {
  background-color: transparent;
}

#tradeLog .list-group-item-primary {
  color: #b8daff; /* make light for dark background */
}

.FullGame {
  margin: 200px;
  text-align: center;
}

#enterRoomCard {
  /* background-color: #282c34; */
  align-items: center;
  margin: 14%;
  /* margin: 35%; */
  padding: 8% 0%;
  /* padding: 3% 0%; */
  /* margin-top: 180px; */
  /* margin-bottom: 10px; */
  border-radius: 15px;
}

#loginSignupFormCard {
  /* background-color: #282c34; */
  align-items: center;
  /* margin: 14%; */
  margin: 35%;
  /* padding: 8% 0%; */
  padding: 3% 0%;
  margin-top: 180px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#signupFormCard {
  /* background-color: #282c34; */
  font-size: calc(2px + 2vmin);
  align-items: center;
  /* margin: 14%; */
  margin: 35%;
  /* padding: 8% 0%; */
  padding: 2% 0%;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 15px;
}

#userInfoFormCard {
  /* background-color: #282c34; */
  /* align-items: center; */
  /* margin: 14%; */
  margin: 0%;
  /* padding: 8% 0%; */
  padding: 3% 0%;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.signupParagraph {
  margin-bottom: 0px;
}

.footerRedirect {
  margin-top: 10px;
}

#timer {
  float: left;
}

#logoutText {
  float: right;
  color: red;
}
